rpmbuild/RPMS/*.rpm
**/__pycache__
.DS_Store
adnoc/ROMS/*
python/ocean.in
tmp
*.egg-info/
.ipynb_checkpoints
.pytest_cache/
python/dist
python/*.out
**/worker-*.dirlock
**/purge.lock
**/global.lock
python/workflows/lo.out

python/*.ipynb
figs
misc
mov
*png
