rpmbuild/RPMS/*.rpm
**/__pycache__
.DS_Store
adnoc/ROMS/*
python/ocean.in
tmp
*.egg-info/
.ipynb_checkpoints
python/*.ipynb
.pytest_cache/
python/dist
python/*.out
**/worker-*.dirlock
**/purge.lock
**/global.lock
